<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>五十音记忆</title>
    <link rel=stylesheet href="https://dgck81lnn.github.io/bootstrap-lnn/dist/bootstrap-lnn.min.css">
    <style>
      #question {
        font-size: 5rem;
      }
      .choice {
        font-size: 3rem;
      }
      .choice,
      #next {
        height: 6rem;
      }
    </style>
  </head>
  <body>
    <div id=app class="m-2">
      <div class="d-flex justify-content-center">
        <div class="btn-group" role="group">
          <input type=radio class="btn-check" name=kanatype id=kanatype-hiragana value="hiragana" v-model="kanaType">
          <label class="btn btn-outline-primary" for=kanatype-hiragana lang=ja>ひらがな</label>
          <input type=radio class="btn-check" name=kanatype id=kanatype-katakana value="katakana" v-model="kanaType">
          <label class="btn btn-outline-primary" for=kanatype-katakana lang=ja>カタカナ</label>
        </div>
      </div>
      <div id=question lang=ja class="my-5 text-center">
        {{ question }}
      </div>
      <div id=choices class="mb-2 row row-cols-2 g-1">
        <div v-for="choice in choices" class="col d-flex">
          <button
            lang=ja :class="['choice', 'btn', getChoiceColorClass(choice), 'flex-fill']"
            :disabled="chosen !== null"
            @click="choose(choice)"
          >
            <span v-if="chosen === null">{{ choice }}</span>
            <ruby v-else>{{ getTableEntry(choice)[kanaType] }}<rt>{{ getTableEntry(choice).romaji }}</rt></ruby>
          </button>
        </div>
      </div>
      <div class="d-flex">
        <button id=next
          :class="['btn', getNextColorClass(), 'flex-fill']"
          @click="next()"
        >继续</button>
      </div>
      <!--<pre style="white-space:pre-wrap;overflow-wrap:break-word">{{ JSON.stringify(romajiWeights, null, 2) }}</pre>-->
      <!--<div v-for="(v, r) in romajiWeights" :style="{ fontSize: v * 2 + 'px' }" class="d-inline-block me-1">{{ r }}</div>-->
    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/vconsole"></script><script>new VConsole</script>-->
    <!--<script>
  window.onerror=(...{ [4]: e }) => alert(`${e}\n\n${e.stack}`)
  var _adl = function fun(r) {
    const s = new Error().stack
    const t = performance.now()
    if (!r && fun.s && s === fun.s && t - fun.n < 100) {
      if (t - fun.t > 2000) throw new Error("loop has been running for more than 2 secs")
    } else {
      fun.s = s
      fun.t = t
    }
    fun.n = t
  }
    </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.18/vue.global.min.js"></script>
    <script>
      //document.write('and..')

      const table =
[
  [
    { hiragana: "あ", katakana: "ア", romaji: "a" },
    { hiragana: "い", katakana: "イ", romaji: "i" },
    { hiragana: "う", katakana: "ウ", romaji: "u" },
    { hiragana: "え", katakana: "エ", romaji: "e" },
    { hiragana: "お", katakana: "オ", romaji: "o" },
  ],
  [
    { hiragana: "か", katakana: "カ", romaji: "ka" },
    { hiragana: "き", katakana: "キ", romaji: "ki" },
    { hiragana: "く", katakana: "ク", romaji: "ku" },
    { hiragana: "け", katakana: "ケ", romaji: "ke" },
    { hiragana: "こ", katakana: "コ", romaji: "ko" },
  ],
  [
    { hiragana: "さ", katakana: "サ", romaji: "sa" },
    { hiragana: "し", katakana: "シ", romaji: "shi" },
    { hiragana: "す", katakana: "ス", romaji: "su" },
    { hiragana: "せ", katakana: "セ", romaji: "se" },
    { hiragana: "そ", katakana: "ソ", romaji: "so" },
  ],
  [
    { hiragana: "た", katakana: "タ", romaji: "ta" },
    { hiragana: "ち", katakana: "チ", romaji: "chi" },
    { hiragana: "つ", katakana: "ツ", romaji: "tsu" },
    { hiragana: "て", katakana: "テ", romaji: "te" },
    { hiragana: "と", katakana: "ト", romaji: "to" },
  ],
  [
    { hiragana: "な", katakana: "ナ", romaji: "na" },
    { hiragana: "に", katakana: "ニ", romaji: "ni" },
    { hiragana: "ぬ", katakana: "ヌ", romaji: "nu" },
    { hiragana: "ね", katakana: "ネ", romaji: "ne" },
    { hiragana: "の", katakana: "ノ", romaji: "no" },
  ],
  [
    { hiragana: "は", katakana: "ハ", romaji: "ha" },
    { hiragana: "ひ", katakana: "ヒ", romaji: "hi" },
    { hiragana: "ふ", katakana: "フ", romaji: "fu" },
    { hiragana: "へ", katakana: "ヘ", romaji: "he" },
    { hiragana: "ほ", katakana: "ホ", romaji: "ho" },
  ],
  [
    { hiragana: "ま", katakana: "マ", romaji: "ma" },
    { hiragana: "み", katakana: "ミ", romaji: "mi" },
    { hiragana: "む", katakana: "ム", romaji: "mu" },
    { hiragana: "め", katakana: "メ", romaji: "me" },
    { hiragana: "も", katakana: "モ", romaji: "mo" },
  ],
  [
    { hiragana: "や", katakana: "ヤ", romaji: "ya" },
    ,
    { hiragana: "ゆ", katakana: "ユ", romaji: "yu" },
    ,
    { hiragana: "よ", katakana: "ヨ", romaji: "yo" },
  ],
  [
    { hiragana: "ら", katakana: "ラ", romaji: "ra" },
    { hiragana: "り", katakana: "リ", romaji: "ri" },
    { hiragana: "る", katakana: "ル", romaji: "ru" },
    { hiragana: "れ", katakana: "レ", romaji: "re" },
    { hiragana: "ろ", katakana: "ロ", romaji: "ro" },
  ],
  [
    { hiragana: "わ", katakana: "ワ", romaji: "wa" },
    ,
    ,
    ,
    { hiragana: "を", katakana: "ヲ", romaji: "wo" }
  ],
  [, , , , , { hiragana: "ん", katakana: "ン", romaji: "n" }],
]
      const xyTable = Object.create(null)
      const romajiWeights = {
        hiragana: Object.create(null),
        katakana: Object.create(null)
      }
      const xys = table.flatMap((row, x) => {
        return row.map((cell, y) => {
          const xy = [x, y]
          xyTable[cell.hiragana] = xy
          xyTable[cell.katakana] = xy
          xyTable[cell.romaji] = xy
          romajiWeights.hiragana[cell.romaji] = 5
          romajiWeights.katakana[cell.romaji] = 5
          return xy
        })
      })

      const confusingGroups = [
        "あめ",
        "ぬめ",
        "きまも",
        "いり",
        "こにた",
        "ほま",
        "きさ",
        "ちら",
        "さち",
        "たな",
        "ねれわ",
        "けは",
        "はほ",
        "るろ",
        "ウワ",
        "ワフ",
        "フヲ",
        "クケ",
        "クタ",
        "セヤ",
        "ソンシツ",
        "スヌマ",
        "マム",
        "チテ",
        "ネホ",
        "ナメ",
      ]

      function sample(array) {
        return array[0 | (Math.random() * array.length)]
      }
      function dig(object, path) {
        for (const prop of path) object = object[prop]
        return object
      }
      function getTableEntry(string) {
        const [x, y] = xyTable[string]
        return table[x][y]
      }
      function shuffle(array) {
        for (let i = array.length - 1; i; --i) {
            let j = 0 | (Math.random() * (i + 1))
            if (i !== j) [array[i], array[j]] = [array[j], array[i]]
        }
        return array
      }
      function wsamples(entries, m) {
        const results = entries.map(([v, w]) => [v, (1 - Math.random()) ** (1 / w)])
        results.sort(([, k1], [, k2]) => k2 - k1)
        return results.slice(0, m).map(([v, k]) => v)
      }

      vue = Vue.createApp({
        data: () => ({
          question: "",
          answer: "",
          choices: [],
          chosen: null,
          kanaType: "hiragana"
        }),
        watch: {
          kanaType: {
            handler() {
              this.newQuestion()
            }
          }
        },
        methods: {
          newQuestion() {
            const questionType = Math.random() < 0.5 ? "romaji" : this.kanaType
            const answerType = questionType === "romaji" ? this.kanaType : "romaji"
            const [x, y] = xyTable[wsamples(Object.entries(romajiWeights[this.kanaType]), 1)[0]]
            const cell = table[x][y]
            const kana = cell[this.kanaType]
            const question = cell[questionType]
            const answer = cell[answerType]
            const choices = [answer]

            const weights = Object.create(null)
            for (const group of confusingGroups) {
              if (!group.includes(kana)) continue
              for (const cKana of group) {
                if (cKana === kana) continue
                const cAnswer = getTableEntry(cKana)[answerType]
                weights[cAnswer] = 100
              }
            }
            for (const [cx, cy] of xys) {
              if (cx === x && cy === y) continue
              const cAnswer = table[cx][cy][answerType]
              if (!(cAnswer in weights))
                weights[cAnswer] = cx === x ? 10 : cy === y ? 5 : 1
            }
            choices.push(...wsamples(Object.entries(weights), 3))
            shuffle(choices)

            this.chosen = null
            this.question = question
            this.answer = answer
            this.choices = choices
          },
          choose(choice) {
            this.chosen = choice
          },
          next() {
            if (this.chosen === null) {
              if (!confirm("显示答案")) return
              this.chosen = ""
              return
            }

            const w = romajiWeights[this.kanaType]
            for (const romaji in w)
              w[romaji] *= 1.075

            if (this.chosen === this.answer) {
              w[getTableEntry(this.answer).romaji] = 0.2
            } else {
              w[getTableEntry(this.answer).romaji] /= 2
              if (this.chosen)
                w[getTableEntry(this.chosen).romaji] *= 1.2
            }

            this.newQuestion()
          },
          getTableEntry: string => getTableEntry(string),
          getChoiceColorClass(choice) {
            if (this.chosen !== null) {
              if (choice === this.answer) return "btn-success"
              if (choice === this.chosen) return "btn-danger"
            }
            return "btn-light"
          },
          getNextColorClass() {
            if (this.chosen)
              return this.chosen === this.answer ? "btn-success" : "btn-danger"
            return "btn-warning"
          }
        },
        mounted() {
          this.newQuestion()
        }
      })
      vue.mount("#app")
      //document.write(' ok')
    </script>
  </body>
</html>