<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/soul_bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.0/bootstrap-vue.min.css">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.0/bootstrap-vue-icons.min.css">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.10.0/viewer.css">
  <link rel="stylesheet" href="/css/commons.css">
  <link rel="icon" href="/site_icon.png">
  <link rel="shortcut icon" href="/site_icon.png">
  <link rel="apple-touch-icon" href="/site_icon.png" sizes="160x160">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.0/bootstrap-vue.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.0/bootstrap-vue-icons.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.10.0/viewer.js"></script>
  <script src="/js/components.min.js"></script>
  <title>无影坦克LNN版</title>
  <style>
    .custom-file-input:lang(zh-cmn-Hans) ~ .custom-file-label::after {
      content: '浏览';
    }
    .section {
      min-width: 267px;
      max-width: 500px;
      margin: 1em auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <p v-if="false">
      如果这条消息一直显示，说明脚本加载失败或运行出错，可能是因为您的浏览器不支持ECMAScript
      2015。
    </p>
    <soul-header></soul-header>
    <soul-main>
      <header>
        <h1>无影坦克LNN版</h1>
        <span class=soul-p2>by <a href="https://tieba.baidu.com/home/main?un=DGCK81LNN">DGCK81LNN</a></span>
      </header>
      <p class="soul-p1">本程序为测试版，许多功能尚不完善，敬请期待正式版发布！</p>
      <p class="soul-p1 text-danger">免责声明：本页面仅供技术研究使用，使用者做出的行为及后果作者概不负责！</p>
      <p>2021-06-26：新增<a href="tieba_tank_decoder.user.js">贴吧解码油猴脚本</a>，可直接从帖子页面解码，无需点开大图！</p>
      <b-card class="section">
        <template #header>制作坦克</template>
        <b-form-group label-cols="2">
          <template #label>表图</template>
          <b-file
            accept="image/*"
            v-model="encodeData.image"
            drop-placeholder="在此放下文件..."
            placeholder="选择图片..."
          ></b-file>
        </b-form-group>
        <b-form-group label-cols="2">
          <template #label>编码深度</template>
          <b-radio-group v-model="encodeData.depth">
            <b-radio :value=1>1</b-radio>
            <b-radio :value=2>2</b-radio>
            <b-radio :value=3>3</b-radio>
            <b-radio :value=4>4</b-radio>
            <b-radio :value=5>5</b-radio>
          </b-radio-group>
          <template #description>建议里图大小：小于{{ [null, "500K", "1M", "1.5M", "2M"][encodeData.compressionLevel] }}</template>
        </b-form-group>
        <b-form-group label-cols="2">
          <template #label>里图</template>
          <b-file
            v-model="encodeData.file"
            drop-placeholder="在此放下文件..."
            placeholder="选择文件..."
          ></b-file>
        </b-form-group>
        <b-button block variant=primary @click="encode">合成图片</b-button>
      </b-card>
      <b-card class="section">
        <template #header>坦克现形</template>
        <b-file
          accept="image/*"
          v-model="decodeData.image"
          drop-placeholder="在此放下文件..."
          placeholder="选择图片..."
          @input="decode"
        ></b-file>
        <b-alert
          v-if="decodeData.msgType"
          show
          role=status
          :variant="decodeData.msgType==='error'?'danger':'info'" 
          v-text="decodeData.msg"
        ></b-alert>
        <template v-else-if="decodeData.result">
          <b-table-simple>
            <b-tr><b-th>文件名</b-th><b-td v-text="decodeData.resultName"></b-td></b-tr>
            <b-tr><b-th>MIME类型</b-th><b-td v-text="decodeData.resultType"></b-td></b-tr>
            <b-tr><b-th>大小</b-th><b-td v-text="formatSize(decodeData.resultSize)"></b-td></b-tr>
          </b-table-simple>
          <b-img
            v-if="decodeData.resultIsImage"
            class="w-100 my-3"
            :src="decodeData.result"
          ></b-img>
          <p v-else>里图似乎不是图片...?</p>
          <b-button block @click="saveDecoded">保存</b-button>
        </template>
      </b-card>
      <b-card>
        <template #header>更新日志</template>
        <ul>
          <li>2021-06-26: 添加贴吧解码油猴脚本
          <li>2021-06-25: 添加制作坦克功能
          <li>2021-06-23: 首次发布，只实现了坦克现形
        </ul>
      </b-card>
      <footer class="text-center">
        <p>原版：<a href="https://wytk.github.io/">wytk.github.io</a> | <a href="http://wytk.yinjuzhe.top/">wytk.yinjuzhe.top</a></p>
      </footer>
    </soul-main>
    <soul-footer></soul-footer>
  </div>
  <script src="index.js"></script>
</body>
</html>
